/*-- asky css | version: beta | MIT LICENSE  */

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/*header*/ @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

/* p testing */@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit&family=Lora&family=Quicksand&family=Sofia+Sans+Semi+Condensed&display=swap');
/*  font-family: 'Fira Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif; */

:root {
    --body-background: #171e27;
    --text-color: #ffffff;
    --link-color: #2872d3;
    --link-color-hover: #86ade0;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
}

body {
    font-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--body-background);
    color: var(--text-color);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}



a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: lowercase;
    font-family: 'Major Mono Display', monospace;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.95rem;
}

p {
    text-transform: lowercase;
    font-family: 'Explora', cursive;
}