/*-- asky css | version: beta | MIT LICENSE  */

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-background: #171e27;
    --text-color: #fffff2;
    --link-color: #2872d3;
    --link-color-hover: #86ade0;
    --link-color-visited: #8eacd4;
    --ul-border-color: rgb(92, 92, 92);
    --ol-border-color: rgb(92, 92, 92);
    --table-border-color: rgb(92, 92, 92);
    --input-background-color: #0e1116;
    --input-background-color-focus: #25333f;
    --input-outline-color-focus: #86ade0;
    --input-text-color: #fff;
    --button-background-color: #0e1116;
    --button-text-color: #fff;
    --button-outline-color-hover: #86ade0;
    --button-background-color-hover: #25333f;

    /*  --input-background-color: #363e49;
        --input-background-color-focus: #0e1116;
        --input-outline-color-focus: #86ade0;  */
}

* {
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
}

body {
    /* font-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
    font-family: 'Unbounded', cursive;
    background-color: var(--body-background);
    color: var(--text-color);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}



a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

/* a:visited {
    color: var(--link-color-visited);
} */

ul {
    list-style-type: none;
    border: 1px solid var(--ul-border-color);
}
ul li {
    padding: 8px 16px;
    border-bottom: 1px solid var(--ul-border-color);
}
ul li:last-child {
    border-bottom: none;
}

ol {
    list-style-type: none;
    border: 1px solid var(--ol-border-color);
}
ol li {
    padding: 8px 16px;
    border-bottom: 1px solid var(--ol-border-color);
}
ol li:last-child {
    border-bottom: none;
}

/* label {
    text-transform: lowercase;
    font-weight: 200;
} */

input,
button {
    cursor: pointer;
}

input {
    display: block;

    background-color: var(--input-background-color);
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--input-text-color);
    font-family: 'Unbounded', cursive;

    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 18px;
    padding: 10px;
    outline: none;
}

input[type=checkbox] {
    display: inline-block;
}

input:focus {
    outline: 2px solid var(--input-outline-color-focus);
    background-color: var(--input-background-color-focus);
    transition: 0.1s;
}

button {
    background-color: var(--button-background-color);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--button-text-color);
    font-family: 'Unbounded', cursive;
    font-size: inherit;
}

button:hover {
    outline: 2px solid var(--button-outline-color-hover);
    background-color: var(--button-background-color-hover);
    transition: 0.1s;
}

button#warning:hover {
    outline: 2px solid rgb(189, 74, 74);
    background-color: #3f252d;
    transition: 0.1s;
}

table, th, td {
  border: 1px solid var(--table-border-color);
}

th, td {
  padding: 15px;
  text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 2rem;
}

textarea {
    background-color: #363e49;
}



h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.95rem;
}

p {
    text-transform: lowercase;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 16px;
}

blockquote {
    margin-top: 2rem;
    margin-right: 0px;
    margin-bottom: 2rem;
    margin-left: 2rem;

    padding-top: 0.4rem;
    padding-right: 0.8rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    
    border-left: 0.20rem solid #2872d3;

    font-style: italic;
}

code {
    padding-top: 2.5px;
    padding-right: 5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    
    background: #0e141b;
    color: #ffbe85;
    border-radius: 6px;
    font-size: inherit;
}

hr {
    border: 1px solid #ffffff;
    margin-bottom: 12px;
}